[user]
    email = evagelos.theo@gmail.com
    name = ev-agelos
[push]
    default = simple
[merge]
    ff = only
    tool = vimdiff
    configstyle = diff3
[alias]
    tree = log --oneline --graph --decorate --all
    lg = log --graph --branches --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    st = status -s
    sl = stash list
    ca = commit --amend --no-edit

    branches = branch -a
    stashes = stash list
    unstage = reset -q HEAD --
    uncommit = reset --mixed HEAD~
    nevermind = !git reset --hard HEAD && git clean -d -f
[color]
    ui = auto
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[rerere]
    enabled = false
[core]
    pager = diff-so-fancy | less -+$LESS -R --tabs=4
    excludesfile = ~/.gitignore_global
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff-so-fancy]
	markEmptyLines = false
