#!/bin/bash
alias sudo='sudo '
alias ll='ls -l'
alias vi=nvim
alias view='nvim -R'
alias tree="tree -I '*.pyc|__pycache__'"
alias cat=ccat

if which exa >/dev/null 2>&1; then
  alias ls='exa'
else
  alias ls='ls --color=auto'
fi
